footer {
    border-top: #e74c3c solid 3px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 20px;
        img {
            height: 40px;
        }
    }
}