.container h3 {
    font-size: 1.15em;
    max-width: 70%;
}
.fluxograma {
    display: flex;
    flex-direction: column;
    align-items: center;  
   // margin-bottom: 90px;
    height: 2200px;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 2em;
    background-color: #e74c3c;
    color: white;
    border: 0;
    margin: 0;

    &:hover:not(.acs) {
        transform: translateY(4px);
    }
    
    &:focus {
        outline: none;
    }

    &.profissionais {
        padding: 40px;
        width: 750px;

        .title {
            font-size: 1.2em;
            font-weight: bold;
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h4 {
                font-size: 1em;
            }
        }
        a {
            font-size: 1em;
            color: white;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}
.coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    &-left {
        align-items: flex-start;

    }
    &-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &:hover {
        opacity: 0.9;
    }
}

.linha {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.linha-2 {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; 
}
.exp {
    border: 2px solid #e74c3c;
    border-radius: 2em;
    background: white;
    padding: 1em;
    font-size: 0.85em;
}

.casos {
    width: 75%;
    .exp {
        width: 35em;
        margin: .5em;
    }
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e74c3c;
}

.arrow-down {
width: 0; 
height: 0; 
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-top: 20px solid #e74c3c;
}

.arrow-down-white {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
    z-index: 10;
}

.arrow-right {
width: 0; 
height: 0; 
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
border-left: 20px solid #e74c3c;
}

.arrow-left {
width: 0; 
height: 0; 
border-top: 20px solid transparent;
border-bottom: 20px solid transparent; 
border-right:20px solid #e74c3c; 
}

.container-referencias {
    padding: 0 6em;
    margin: 0 30px auto;
    h3 {
        font-size: 1.15em;
        border-bottom: 2px solid #e74c3c;
        width: 8em;
    }
    h4 {
        font-size: 1em;
    }
}