body {
    font-family: 'Open Sans', sans-serif;
    color: #272727;
    font-size: 18px;
}

a {
    color:$cor1;
    text-decoration: none;
}

h4 {
    line-height: 2;
}

p {
    line-height: 28px;
}

b {
    margin-bottom: 15px;
}