.header {
  padding: 40px 25px;
  background-color: #e74c3c;
  margin-bottom: 40px;
}
.header h1 {
  color: #fff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 375px) {
  .header h1 {
    font-size: 1.2em;
  }
}
footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
}
footer div:first-child {
  margin: 0;
}
footer div:nth-child(2) {
  border-top: #5f5f5f solid 1px;
  margin-top: 0;
  padding-top: 30px;
}
footer div img {
  height: 40px;
}
footer div h4 {
  color: #5f5f5f;
}

@media screen and (max-width: 375px) {
  footer h4 {
    font-size: 1em;
  }

  footer div img {
    height: 1em;
  }
}
.container h3 {
  font-size: 1.15em;
  max-width: 70%;
}

.fluxograma {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2600px;
}

button {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 2em;
  background-color: #e74c3c;
  color: white;
  border: 0;
}
button:hover:not(.acs) {
  transform: translateY(4px);
}
button:focus {
  outline: none;
}
button.profissionais {
  padding: 2em;
  width: 750px;
}
button.profissionais .title {
  font-size: 1.2em;
  font-weight: bold;
}
button.profissionais .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
}
button.profissionais .content h4 {
  font-size: 1em;
}
button.profissionais a {
  font-size: 1em;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
button.profissionais a:hover {
  color: #5f5f5f;
}

.coluna {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
}
.coluna-left {
  align-items: flex-start;
}
.coluna-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.coluna:hover {
  opacity: 0.96;
}

#p1 {
  width: 30vw;
}

.linha {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 70%;
}
.linha div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linha div button {
  margin: 0 2em;
  padding: 1em 3em;
}

.linha-exp {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.linha-exp #cont-sim {
  justify-self: flex-start;
  max-width: 50%;
}
.linha-exp #cont-nao {
  max-width: 50%;
}

.linha-2 {
  width: 55%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.exp {
  margin-top: 2em;
  border: 2px solid #e74c3c;
  border-radius: 2em;
  background: white;
  padding: 1em;
  font-size: 0.85em;
}
.exp:hover {
  opacity: 1;
}

.casos {
  width: 75%;
}
.casos .exp {
  width: 35em;
  margin: 0.5em;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e74c3c;
}

.arrow-down-white {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e74c3c;
  position: relative;
}
.arrow-down-white:after {
  border-left: solid transparent 18px;
  border-right: solid transparent 18px;
  border-top: solid white 18px;
  bottom: 4px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -19px;
  position: absolute;
  width: 0;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #e74c3c;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #e74c3c;
}

#show-all {
  margin: 2em 8em;
}

.container-referencias {
  padding: 0 6em;
  margin: 0 30px auto;
}
.container-referencias h3 {
  font-size: 1.15em;
  border-bottom: 2px solid #e74c3c;
  width: 8em;
}
.container-referencias h4 {
  font-size: 1em;
}

@media screen and (max-width: 768px) {
  .fluxograma {
    height: 2700px;
  }

  #p1 {
    width: 90%;
  }

  .linha {
    max-width: 90%;
  }
  .linha .exp {
    margin-top: 0;
  }
  .linha-exp {
    width: 90%;
  }

  .linha-2.casos {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .linha-2.casos .coluna-left {
    width: 100%;
  }
  .linha-2.casos .coluna-left .exp {
    width: 100%;
  }
  .linha-2.casos .coluna-right {
    width: 100%;
    align-items: flex-start;
  }
  .linha-2.casos .coluna-right .exp {
    width: 100%;
  }

  #show-all {
    margin: 2em 3em;
  }

  .container-referencias {
    padding: 0 2em;
  }
}
@media screen and (max-width: 375px) {
  .container h3 {
    max-width: 100%;
  }

  .fluxograma {
    height: 3200px;
  }

  .coluna {
    max-width: 100%;
  }

  button.profissionais {
    width: 100%;
    padding: 1em;
  }

  .linha div button {
    margin: 0;
    padding: 0.5em 2em;
  }

  .exp {
    padding: 0.5em;
  }

  .linha-2 {
    width: 90%;
  }

  .container-referencias {
    padding: 0 1em;
    font-size: 0.4em;
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
